header .badges {
  position: fixed;
  top: 160px;
  right: 90px;
}
.visual {
  position: relative;
  background: url('../images/visual_bg.jpg') center;
  margin-top: 120px;
}
.visual .inner {
  height: 646px;
}
.visual .title {
  position: absolute;
  top: 220px;
  left: -200px;
}
.visual .title .btn {
  position: absolute;
  top: 160px;
  left: 164px;
}
.visual .cup1.image {
  position: absolute;
  top: 110px;
  left: 540px;
  width: 250px;
}
.visual .cup2.image {
  position: absolute;
  top: 115px;
  width: 250px;
  left: 310px;
}
.visual .cup3.image {
  position: absolute;
  width: 250px;
  right: 90px;
  top: 110px;
}
.visual .fade-in {
  opacity: 0;
}

.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #000;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5f0;
}
.notice .notice-line .inner {
  display: flex;
  height: 62px;
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left h2 {
  color: #fff;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
}
.notice .notice-line .inner__left .swiper {
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
  font-size: 14px;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  font-size: 30px;
  color: #fff;
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  background-color: #f6f5f0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .notice-line .inner__right h2 {
  font-size: 16px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}
.notice .promotion {
  position: relative;
  height: 693px;
  background-color: #f6f5f0;
  overflow: hidden;
  transition: height .4s;
}
.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}
.notice .promotion .swiper .swiper-slide {
  position: relative;
  opacity: 0.5;
  transition: opacity .4s;
}
.notice .promotion .swiper .swiper-slide-active {
  opacity: 1;
}
.notice .promotion .swiper .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 0;
}
.notice .promotion .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-image: url('../images/promotion_slide_pager.png');
  margin-right: 6px;
}
.notice .promotion .swiper-pagination-bullet-active {
  background-image: url('../images/promotion_slide_pager_on.png');
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  outline: none;
  cursor: pointer;
  top: 300px;
  z-index: 1;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.rewards {
  position: relative;
}
.rewards .bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1e3932;
}
.rewards .inner {
  height: 241px;
}
.rewards .rewards__logo {
  position: absolute;
  top: 30px;
  left: 40px;
}
.rewards .rewards__logo img {
  width: 176px;
}
.rewards .rewards__contents {
  position: absolute;
  color: #fff;
  left: 250px;
  top: 30px;
}
.rewards .rewards__contents .contents1 {
  margin-bottom: 22px;
  position: relative;
}
.rewards .rewards__contents .contents1 .line {
  width: 845px;
  height: 1px;
  background-color: #4b615b;
  position: absolute;
  top: 105px;
}

.rewards .rewards__contents .contents1 h2 {
  font-size: 26px;
  margin-bottom: 12px;
  font-weight: normal;
}
.rewards .rewards__contents .contents1 h2 strong {
  font-weight: bold;
}
.rewards .rewards__contents .contents1 p {
  font-size: 17px;
}
.rewards .rewards__contents .contents1 p strong {
  font-weight: bold;
}
.rewards .rewards__contents .contents2 p {
  font-size: 12px;
}
.rewards .rewards__contents .contents2 p strong {
  font-weight: bold;
}
.rewards .btn-group {
  position: absolute;
  top: 70px;
  right: 0;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}
.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}
.rewards .btn-group .btn.sign-in {
  width: 110px;
}
.rewards .btn-group .btn.gift {
  flex: .98;
  margin-top: 30px;
}

.season-product {
  background: url('../images/season_product_bg.jpg') center/cover no-repeat;
}
.season-product .inner {
  height: 572px;
}
.season-product .product {
  position: absolute;
  top: 90px;
  left: 120px;
}
.season-product .text-group {
  position: absolute;
  right: 70px;
  top: 150px;
}
.season-product .text-group .btn {
  margin-top: 30px;
}

.reverse-coffee {
  background: url('../images/reserve_bg.jpg') no-repeat center top;
  overflow: hidden;
}
.reverse-coffee .inner {
  height: 400px;
}
.reverse-coffee .text-group {
  position: absolute;
  top: 65px;
  left: 170px;
  margin-bottom: 20px;
}
.reverse-coffee .btn {
  margin-top: 40px;
  position: absolute;
  left: 80px;
}
.reverse-coffee .reverse-cup {
  position: absolute;
  right: -400px;
}
.pick-your-favorite {
  background: url('../images/favorite_bg.jpg') center center fixed no-repeat;
  background-position: center;
}
.pick-your-favorite .inner {
  height: 800px;
  padding: 140px 0;
}
.pick-your-favorite .text-group {
  width: 320px;
  position: absolute;
  left: -40px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}
.pick-your-favorite .favorite-img {
  position: absolute;
  right: -300px;
  top: 100px;
}

.reverse-magazine {
  position: relative;
  background: url('../images/magazine.png') no-repeat 50% 100%;
}
.reverse-magazine .inner {
  height: 400px;
}
.reverse-magazine .text-group {
  position: absolute;
  top: 150px;
  left: 200px;
  z-index: 1;
}
.reverse-magazine .text-group .btn {
  position: absolute;
  margin-top: 40px;
  left: 140px;
}
.reverse-magazine .reverse-visual {
  position: absolute;
  right: 85px;
}

.store {
  position: relative;
  background: url('../images/find_store_bg.jpg');
}
.store .inner {
  height: 400px;
}
.store .img1 {
  position: absolute;
  bottom: 30px;
  left: 300px;
  z-index: 1;
}
.store .img2 {
  position: absolute;
  top: 0;
  left: 60px;
}
.store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.store .texture2 {
  position: absolute;
  bottom: 0;
  right: -30px;
}
.store .text-group {
  position: absolute;
  right: 110px;
  top: 110px;
}
.store .text-group .btn {
  margin-top: 30px;
}

.awards {
  background-color: #272727;
}
.awards .inner {
  padding: 40px 0;
}
.awards .swiper-prev,
.awards .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: .4s;
}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {
  background-color: #fff;
  color: #000;
}
.awards .swiper-prev {
  left: -100px;
}
.awards .swiper-next {
  right: -100px;
}